/** @format */

.top-banners {
  position: relative;
  .btn-centering {
    position: absolute;
    top: 47%;
    left: 47%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
    color: #fff;
    border: 1px solid rgba(360, 360, 360, 0.2);
    font-size: 1.2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
      top: 44%;
      left: 43%;
      padding: 0.3rem 0.7rem;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none;
  }
}
